@font-face {
    font-family: 'Source Sans Pro' ;
    src: url('fonts/SourceSansPro-Regular.ttf') format('truetype');
}

.gradient {
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
